@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,800;1,100;1,300;1,400;1,700;1,800&display=swap");
body {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  font-family: "Montserrat", sans-serif;
}

header {
  grid-area: header;
  display: block;
  
}
header .header {
  display: flex;
}

.main {
  grid-area: main;
}
.main .main-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0;
  margin-bottom: 40px;
}
.main .main-hero .main-title h3 {
  font-size: 1.3rem;
  font-weight: 100;
  font-style: italic;
}
.main .main-hero .main-title h1 {
  font-size: 5rem;
  font-weight: bold;
  margin: 20px 0 50px 0;
}
.main .main-hero .main-title .main-title-link {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
}
.main .main-hero .main-sidetext {
  width: 80%;
  text-align: center;
  margin-top: 20px;
}
.main .main-hero .main-sidetext p {
  font-size: 1.2rem;
}
.main .main-hero .photogallery {
  display: flex;
  justify-content: center;
  margin: 35px 0px 35px 0px;
}
.main .main-hero .photogallery #carouselExampleAutoplaying {
  width: 95%;
}
.main .main-hero .photogallery #carouselExampleAutoplaying .carousel-item img {
  width: 1280px;
  height: 720px;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

/*contact.html*/
.main-contact {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px 0px 25px 0px;
  padding: 40px 0px 100px 0px;
}
.main-contact .main-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0;
  margin-bottom: 50px;
}
.main-contact .main-hero .main-title-contact h3 {
  font-size: 1.3rem;
  font-weight: 100;
  font-style: italic;
}
.main-contact .main-hero .main-title-contact h1 {
  font-size: 5rem;
  font-weight: bold;
  margin: 20px 0 50px 0;
}
.main-contact .main-contact-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.main-contact .contact-image {
  flex: 1;
  margin-right: 20px;
}
.main-contact .contact-image img {
  max-width: 100%;
  height: auto;
}
.main-contact .contact-form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  flex: 1;
}
.main-contact .contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.main-contact .contact-form input[type=text],
.main-contact .contact-form input[type=tel],
.main-contact .contact-form input[type=email],
.main-contact .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}
.main-contact .contact-form input[type=text]:focus,
.main-contact .contact-form input[type=tel]:focus,
.main-contact .contact-form input[type=email]:focus,
.main-contact .contact-form textarea:focus {
  outline: none;
  border-color: lightgreen;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.main-contact .contact-form input[type=submit] {
  background-color: lightgreen;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}
.main-contact .contact-form input[type=submit]:hover {
  background-color: green;
}
.main-contact .contact-image {
  flex: 1;
}
.main-contact .contact-image img {
  max-width: 100%;
  height: auto;
}

/*Proyectos.html*/
.mosaico {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
}
.mosaico .imagen {
  overflow: hidden;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mosaico .imagen:hover{
  transform: scale(1.1);
}
.mosaico .imagen img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}

/*Servicios.html*/
.main .container-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}


/* Quienes-somos.html */
.main-quienes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  gap: 4rem;
}
.main-quienes .main-quienes-parrafo {
  flex: 1;
  text-align: justify;
}
.main-quienes .main-quienes-parrafo p {
  font-size: 16px;
  margin-bottom: 20px;
}
.main-quienes .main-quienes-image {
  flex: 1;
  text-align: center;
}
.main-quienes .main-quienes-image img {
  max-width: 100%;
  height: auto;
}

/* Media Queries */
@media (max-width: 992px) {
  body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "main main" "footer footer";
  }
  .main .main-hero {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 4rem;
  }
  .main .main-hero .main-title {
    margin-left: 0;
    width: 100%;
  }
  .main .main-hero .main-title h1 {
    font-size: 60px;
  }
  .main .main-hero .main-title .main-title-link {
    font-size: 18px;
  }
  .main .main-hero .main-sidetext {
    width: 50%;
  }
  .main .photogallery {
    flex-direction: column;
    align-items: center;
  }
  .main .photogallery #carouselExampleAutoplaying {
    width: 100%;
  }
  .main .photogallery #carouselExampleAutoplaying .carousel-item img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
  }
  .main .main-hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 4rem;
  }
  .main .main-hero .main-title h1 {
    font-size: 40px;
  }
  .main .main-hero .main-title .main-title-link {
    font-size: 16px;
  }
  .main .main-hero .main-sidetext p {
    font-size: 18px;
  }
  .photogallery {
    flex-direction: column;
    align-items: center;
  }
  .photogallery #carouselExampleAutoplaying {
    width: 100%;
  }
  .photogallery #carouselExampleAutoplaying .carousel-item img {
    max-width: 100%;
    height: auto;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .main .main-hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 4rem;
  }
  .main .main-hero .main-title h1 {
    font-size: 32px;
  }
  .main .main-hero .main-title .main-title-link {
    font-size: 14px;
  }
  .main .photogallery {
    flex-direction: column;
    align-items: center;
  }
  .main .photogallery #carouselExampleAutoplaying {
    width: 100%;
  }
  .main .photogallery #carouselExampleAutoplaying .carousel-item img {
    max-width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
